body {
  font-size: 10px;
  color: #885df1;
  background: rgb(239, 176, 244);
  padding: 5 8px;
  background: linear-gradient(
    68.6deg,
    rgb(48, 49, 48) 1.8%,
    rgb(181, 255, 255) 100.5%
  );
}

h1 {
  color: rgb(212, 32, 212);
  text-decoration: underline;
  text-align: center;
  font-style: oblique;
  font-size: 60px;
  height: 40px;
  background-color: #8b076f;
}
h2 {
  text-align: center;
  color: hsl(0, 59%, 41%);
  font-size: 50px;
  height: 30px;
}
p {
  color: #f4f4f6;
  font-style: inherit;
  font-size: 33px;
}
button {
  border-radius: 25px;
  border: 1px solid #8064e9;
  background: #8064e9;
  color: #fff;
  font-size: 16px;
  display: block;
  margin: 60px auto;
  line-height: 22px;
  padding: 16px 24px;
  text-decoration: none;
  transition: all 200ms ease;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
}

button:hover {
  cursor: pointer;
  background: #5e41a7;
}
.d {
  color: yellow;
  display: block;
  margin: 0 auto;
  background-color: #885df1;
  font-size: 30px;
  font-family: Impact;
  box-shadow: chocolate 6px 6px;
  transition: all ease-in-out;
  border-color: brown;
  border-radius: 40px;
  padding: 10px 50px;
  cursor: progress;
}
button:hover {
  color: #885df1;
  background: transparent;
}
h3 {
  color: rgba(246, 5, 214, 0.964);
  text-decoration: underline;
  text-align: center;
  font-style: oblique;
  font-size: 60px;
  height: 40px;
}
ul {
  color: rgb(183, 144, 144);
  font-weight: bold;
  font-size: 50px;
}
